<div class = "row custom-padding-tableHead">
    <button class="btn col-6 col-sm-4 primary-color " (click) = "navigateToCreate()"> + Новый товар</button>
</div>
<div class = " table-responsive" *ngIf = "categoriesPosition.length>0">
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>             
            </tr>
        </thead>

        <tbody>
            <tr *ngFor = "let category of categoriesPosition" (click)="navigateToEdit(category.id)">
                <th> 
                    {{category.id}}
                </th>
                <td>
                    {{category.title}}
                </td>
                <td>
                    {{category.description}}
                </td>
            </tr>
        </tbody>        
    </table>
</div>